<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.gitone.server.mappers.OAuth2AuthorizationConsentMapper">
    <resultMap id="oauth2AuthorizationConsentMap" type="dev.gitone.server.entities.OAuth2AuthorizationConsentEntity">
        <id property="id"  column="id" jdbcType="INTEGER" />
        <result property="createdAt"  column="created_at" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
        <result property="registeredClientId" column="registered_client_id" jdbcType="VARCHAR" />
        <result property="principalName" column="principal_name" jdbcType="VARCHAR" />
        <result property="authorities" column="authorities" jdbcType="ARRAY" />
    </resultMap>
    <sql id="oauth2AuthorizationConsentColumns">
        id,
        created_at,
        updated_at,
        registered_client_id,
        principal_name,
        authorities
    </sql>
    <select id="find" parameterType="java.lang.Integer" resultMap="oauth2AuthorizationConsentMap">
        SELECT <include refid="oauth2AuthorizationConsentColumns" />
        FROM oauth2_authorization_consents
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findByIds" parameterType="java.util.Collection" resultMap="oauth2AuthorizationConsentMap">
        SELECT <include refid="oauth2AuthorizationConsentColumns" />
        FROM oauth2_authorization_consents
        WHERE id IN
        <foreach collection="ids" open="(" item="id" separator="," close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
    </select>
    <select id="findByRegisteredClientIdAndPrincipalName" resultMap="oauth2AuthorizationConsentMap">
        SELECT <include refid="oauth2AuthorizationConsentColumns" />
        FROM oauth2_authorization_consents
        WHERE registered_client_id = #{registeredClientId,jdbcType=VARCHAR}
            AND principal_name = #{principalName,jdbcType=VARCHAR}
    </select>
    <insert id="create" parameterType="dev.gitone.server.entities.OAuth2AuthorizationConsentEntity" keyProperty="id" useGeneratedKeys="true" >
        INSERT INTO oauth2_authorization_consents (
            created_at,
            updated_at,
            registered_client_id,
            principal_name,
            authorities
        ) VALUES (
            #{createdAt,jdbcType=TIMESTAMP_WITH_TIMEZONE},
            #{updatedAt,jdbcType=TIMESTAMP_WITH_TIMEZONE},
            #{registeredClientId,jdbcType=VARCHAR},
            #{principalName,jdbcType=VARCHAR},
            #{authorities,jdbcType=ARRAY}
        )
    </insert>
    <update id="update" parameterType="dev.gitone.server.entities.OAuth2AuthorizationConsentEntity">
        UPDATE oauth2_authorization_consents SET
            created_at = #{createdAt,jdbcType=TIMESTAMP},
            updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            registered_client_id = #{registeredClientId,jdbcType=VARCHAR},
            principal_name = #{principalName,jdbcType=VARCHAR},
            authorities = #{authorities,jdbcType=ARRAY}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="delete" parameterType="dev.gitone.server.entities.OAuth2AuthorizationConsentEntity">
        DELETE FROM oauth2_authorization_consents
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>
