<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.gitone.server.mappers.ProjectMapper">
    <resultMap id="projectMap" type="dev.gitone.server.entities.ProjectEntity"
               extends="dev.gitone.server.mappers.NamespaceMapper.namespaceMap">
    </resultMap>
    <sql id="projectColumns">
        <include refid="dev.gitone.server.mappers.NamespaceMapper.namespaceColumns" />
    </sql>
    <sql id="directWithUser">
        <include refid="dev.gitone.server.mappers.NamespaceMapper.directWithUser" />
    </sql>
    <sql id="directWithViewer">
        <include refid="dev.gitone.server.mappers.NamespaceMapper.directWithViewer" />
    </sql>
    <sql id="ancestors">
        <include refid="dev.gitone.server.mappers.NamespaceMapper.ancestors" />
    </sql>
    <sql id="descendants">
        <include refid="dev.gitone.server.mappers.NamespaceMapper.descendants" />
    </sql>
    <sql id="all">
        <include refid="dev.gitone.server.mappers.NamespaceMapper.all" />
    </sql>
    <sql id="allWithUser">
        <include refid="dev.gitone.server.mappers.NamespaceMapper.allWithUser" />
    </sql>
    <sql id="allWithViewer">
        <include refid="dev.gitone.server.mappers.NamespaceMapper.allWithViewer" />
    </sql>
    <sql id="filter">
        <include refid="dev.gitone.server.mappers.NamespaceMapper.filter" />
    </sql>
    <sql id="direction">
        <include refid="dev.gitone.server.mappers.NamespaceMapper.direction" />
    </sql>
    <sql id="cursorOp">
        <include refid="dev.gitone.server.mappers.NamespaceMapper.cursorOp" />
    </sql>
    <sql id="page">
        <include refid="dev.gitone.server.mappers.NamespaceMapper.page" />
    </sql>
    <sql id="byType">AND ns.type = 3</sql>
    <select id="find" parameterType="java.lang.Integer" resultMap="projectMap">
        SELECT <include refid="projectColumns" />
        FROM namespaces AS ns
        <where>
            ns.id = #{id,jdbcType=INTEGER}
            <include refid="byType" />
        </where>
    </select>
    <select id="findByIds" parameterType="java.util.Collection" resultMap="projectMap">
        SELECT <include refid="projectColumns" />
        FROM namespaces AS ns
        <where>
            ns.id IN
            <foreach collection="ids" open="(" item="id" separator="," close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
            <include refid="byType" />
        </where>
    </select>
    <select id="findByFullPath" parameterType="java.lang.String" resultMap="projectMap">
        SELECT <include refid="projectColumns" />
        FROM namespaces AS ns
        <where>
            ns.full_path = #{fullPath,jdbcType=VARCHAR}
            <include refid="byType" />
        </where>
    </select>
    <select id="findAll" resultMap="projectMap">
        SELECT <include refid="projectColumns" />
        FROM (
            <include refid="allWithViewer" />
        ) AS ns
        <where>
            <include refid="filter" />
            <include refid="page" />
        </where>
        ORDER BY ns.${page.order.field} ${page.orderDirection}, ns.id ASC
        LIMIT #{page.limit,jdbcType=INTEGER}
    </select>
    <insert id="create" parameterType="dev.gitone.server.entities.ProjectEntity" keyProperty="id" useGeneratedKeys="true" >
        <include refid="dev.gitone.server.mappers.NamespaceMapper.insert" />
    </insert>
    <update id="update" parameterType="dev.gitone.server.entities.ProjectEntity">
        <include refid="dev.gitone.server.mappers.NamespaceMapper.update" />
    </update>
    <delete id="delete" parameterType="dev.gitone.server.entities.ProjectEntity">
        DELETE FROM namespaces AS ns
        <where>
            id = #{id,jdbcType=INTEGER}
            <include refid="byType" />
        </where>
    </delete>
</mapper>
