<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.gitone.server.mappers.UserDetailMapper">
    <resultMap id="userDetailMap" type="dev.gitone.server.entities.UserDetailEntity">
        <id property="id"  column="id" jdbcType="INTEGER" />
        <result property="email" column="email" jdbcType="VARCHAR" />
        <result property="password" column="password" jdbcType="VARCHAR" />
        <result property="resetPasswordToken" column="reset_password_token" jdbcType="VARCHAR" />
        <result property="resetPasswordSentAt" column="reset_password_sent_at" jdbcType="TIMESTAMP_WITH_TIMEZONE" />
        <result property="active" column="active" jdbcType="BOOLEAN" />
        <result property="role"  column="role" jdbcType="INTEGER" />
        <result property="location" column="location" jdbcType="VARCHAR" />
        <result property="websiteUrl" column="website_url" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="userDetailColumns">
        id,
        email,
        password,
        reset_password_token,
        reset_password_sent_at,
        active,
        role,
        location,
        website_url
    </sql>
    <select id="find" parameterType="java.lang.Integer" resultMap="userDetailMap">
        SELECT <include refid="userDetailColumns" />
        FROM user_details
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <select id="findByIds" parameterType="java.util.Collection" resultMap="userDetailMap">
        SELECT <include refid="userDetailColumns" />
        FROM user_details
        WHERE id IN
        <foreach collection="ids" open="(" item="id" separator="," close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
    </select>
    <select id="findByEmail" parameterType="java.lang.String" resultMap="userDetailMap">
        SELECT <include refid="userDetailColumns" />
        FROM user_details
        WHERE email = #{email,jdbcType=VARCHAR}
    </select>
    <select id="findByResetPasswordToken" parameterType="java.lang.String" resultMap="userDetailMap">
        SELECT <include refid="userDetailColumns" />
        FROM user_details
        WHERE reset_password_token = #{resetPasswordToken,jdbcType=VARCHAR}
    </select>
    <insert id="create" parameterType="dev.gitone.server.entities.UserDetailEntity" keyProperty="id" useGeneratedKeys="false" >
        INSERT INTO user_details (
            id,
            email,
            password,
            reset_password_token,
            reset_password_sent_at,
            active,
            role,
            location,
            website_url
        ) VALUES (
            #{id,jdbcType=INTEGER},
            #{email,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{resetPasswordToken,jdbcType=VARCHAR},
            #{resetPasswordSentAt,jdbcType=TIMESTAMP},
            #{active,jdbcType=BOOLEAN},
            #{role,jdbcType=INTEGER},
            #{location,jdbcType=VARCHAR},
            #{websiteUrl,jdbcType=VARCHAR}
        )
    </insert>
    <update id="update" parameterType="dev.gitone.server.entities.UserDetailEntity">
        UPDATE user_details SET
            email = #{email,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            reset_password_token = #{resetPasswordToken,jdbcType=VARCHAR},
            reset_password_sent_at = #{resetPasswordSentAt,jdbcType=TIMESTAMP},
            active = #{active,jdbcType=BOOLEAN},
            role = #{role,jdbcType=INTEGER},
            location = #{location,jdbcType=VARCHAR},
            website_url = #{websiteUrl,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="delete" parameterType="dev.gitone.server.entities.EmailEntity">
        DELETE FROM user_details
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>
