<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.notfound.gitone.server.mappers.GroupMapper">
    <resultMap id="groupMap" type="cn.notfound.gitone.server.entities.GroupEntity"
               extends="cn.notfound.gitone.server.mappers.NamespaceMapper.namespaceMap">
    </resultMap>
    <sql id="groupColumns">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.namespaceColumns" />
    </sql>
    <sql id="directWithUser">
        <if test="filter.userId != null">
            WITH direct_with_user AS MATERIALIZED (
                SELECT ns.*
                FROM namespaces AS ns INNER JOIN members AS mb ON ns.id = mb.namespace_id
                WHERE mb.user_id = #{filter.userId,jdbcType=INTEGER}
                <if test="filter.parentId != null">
                    AND ns.traversal_ids[#{filter.parentLevel,jdbcType=INTEGER}] = #{filter.parentId,jdbcType=INTEGER}
                </if>
            )
        </if>
    </sql>
    <sql id="directWithViewer">
        <if test="filter.viewerId != null">
            WITH direct_with_viewer AS MATERIALIZED (
                SELECT ns.*
                FROM namespaces AS ns INNER JOIN members AS mb ON ns.id = mb.namespace_id
                WHERE mb.user_id = #{filter.viewerId,jdbcType=INTEGER}
                <if test="filter.parentId != null">
                    AND ns.traversal_ids[#{filter.parentLevel,jdbcType=INTEGER}] = #{filter.parentId,jdbcType=INTEGER}
                </if>
            )
        </if>
    </sql>
    <sql id="ancestors">
        SELECT ns.*
        FROM namespaces AS ns
            INNER JOIN (
            <choose>
                <when test="filter.parentId != null and filter.recursive">
                    SELECT DISTINCT UNNEST(du.traversal_ids[#{filter.parentLevel,jdbcType=INTEGER} + 1:])
                    FROM direct_with_user AS du
                    WHERE du.traversal_ids[#{filter.parentLevel,jdbcType=INTEGER}] = #{filter.parentId,jdbcType=INTEGER}
                </when>
                <when test="filter.parentId != null and !filter.recursive">
                    SELECT DISTINCT du.traversal_ids[#{filter.parentLevel,jdbcType=INTEGER} + 1]
                    FROM direct_with_user AS du
                    WHERE du.traversal_ids[#{filter.parentLevel,jdbcType=INTEGER}] = #{filter.parentId,jdbcType=INTEGER}
                </when>
                <when test="filter.parentId == null and filter.recursive">
                    SELECT DISTINCT UNNEST(du.traversal_ids)
                    FROM direct_with_user AS du
                </when>
                <when test="filter.parentId == null and !filter.recursive">
                    SELECT DISTINCT du.traversal_ids[1]
                    FROM direct_with_user AS du
                </when>
            </choose>
        ) AS ancestors (ancestor_id) ON ns.id = ancestors.ancestor_id
    </sql>
    <sql id="descendants">
        SELECT ns.*
        FROM namespaces AS ns, direct_with_user AS du
        WHERE du.id = ANY(ns.traversal_ids)
    </sql>
    <sql id="filter">
        <if test="filter.visibility != null">
            AND ns.visibility = #{filter.visibility,jdbcType=INTEGER}
        </if>
        <if test="filter.query != null">
            AND ns.path like '%' || #{filter.query,jdbcType=VARCHAR} || '%'
        </if>
    </sql>
    <sql id="direction">${page.direction(before)}</sql>
    <sql id="cursorOp">
        <choose>
            <when test="cursor.createdAt != null">
                AND (
                    ns.created_at = #{cursor.createdAt,jdbcType=TIMESTAMP_WITH_TIMEZONE} AND ns.id &gt; #{cursor.id,jdbcType=INTEGER}
                    OR ns.created_at <include refid="direction" /> #{cursor.createdAt,jdbcType=TIMESTAMP_WITH_TIMEZONE}
                )
            </when>
            <when test="cursor.updatedAt != null">
                AND (
                    ns.updated_at = #{cursor.updatedAt,jdbcType=TIMESTAMP_WITH_TIMEZONE} AND ns.id &gt; #{cursor.id,jdbcType=INTEGER}
                    OR ns.updated_at <include refid="direction" /> #{cursor.updatedAt,jdbcType=TIMESTAMP_WITH_TIMEZONE}
                )
            </when>
            <when test="cursor.path != null">
                AND (
                    ns.path = #{cursor.path,jdbcType=VARCHAR} AND ns.id &gt; #{cursor.id,jdbcType=INTEGER}
                    OR ns.path <include refid="direction" /> #{cursor.path,jdbcType=VARCHAR}
                )
            </when>
        </choose>
    </sql>
    <sql id="page">
        <if test="page.before != null">
            <bind name="before" value="true"/>
            <bind name="cursor" value="page.before"/>
            <include refid="cursorOp" />
        </if>
        <if test="page.after != null">
            <bind name="before" value="false"/>
            <bind name="cursor" value="page.after"/>
            <include refid="cursorOp" />
        </if>
    </sql>
    <select id="find" parameterType="java.lang.Integer" resultMap="groupMap">
        SELECT <include refid="groupColumns" />
        FROM namespaces AS ns
        WHERE ns.id = #{id,jdbcType=INTEGER} AND ns.type = 2
    </select>
    <select id="findByIds" parameterType="java.util.Collection" resultMap="groupMap">
        SELECT <include refid="groupColumns" />
        FROM namespaces AS ns
        WHERE ns.id IN
        <foreach collection="ids" open="(" item="id" separator="," close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
        AND ns.type = 2
    </select>
    <select id="findByDescendants" resultMap="groupMap">
        SELECT <include refid="groupColumns" />
        FROM namespaces AS ns
        WHERE #{namespaceId,jdbcType=INTEGER} = ANY(ns.traversal_ids)
    </select>
    <select id="findByFullPath" parameterType="java.lang.String" resultMap="groupMap">
        SELECT <include refid="groupColumns" />
        FROM namespaces AS ns
        WHERE ns.full_path = #{fullPath,jdbcType=VARCHAR} AND ns.type = 2
    </select>
    <sql id="all">
        SELECT ns.*
        FROM namespaces AS ns
        <choose>
            <when test="filter.parentId != null and filter.recursive">
                WHERE ns.traversal_ids[#{filter.parentLevel,jdbcType=INTEGER}] = #{filter.parentId,jdbcType=INTEGER}
                    AND ns.id != #{filter.parentId,jdbcType=INTEGER}
            </when>
            <when test="filter.parentId != null and !filter.recursive">
                WHERE ns.parent_id = #{filter.parentId,jdbcType=INTEGER}
            </when>
            <when test="filter.parentId == null and !filter.recursive">
                WHERE ns.parent_id = 0
            </when>
        </choose>
    </sql>
    <sql id="allWithUser">
        <choose>
            <when test="filter.userId == null">
                <include refid="all" />
            </when>
            <when test="filter.recursive">
                <include refid="directWithUser" />
                SELECT ns.*
                FROM (
                    (
                        <include refid="ancestors" />
                    )
                    UNION
                    (
                        <include refid="descendants" />
                    )
                ) AS ns
            </when>
            <otherwise>
                <include refid="directWithUser" />
                <include refid="ancestors" />
            </otherwise>
        </choose>
    </sql>
    <sql id="allWithViewer">
        <choose>
            <when test="filter.viewerId == null">
                <include refid="allWithUser" />
            </when>
            <otherwise>
                <include refid="directWithViewer" />
                SELECT ns.*
                FROM (
                    <include refid="allWithUser" />
                ) AS ns
                WHERE ns.visibility = 40 OR EXISTS (
                    SELECT dv.id
                    FROM direct_with_viewer AS dv
                    WHERE ns.id = ANY (dv.traversal_ids) OR dv.id = ANY (ns.traversal_ids)
                )
            </otherwise>
        </choose>
    </sql>
    <select id="findAll" resultMap="groupMap">
        SELECT <include refid="groupColumns" />
        FROM (
            <include refid="allWithViewer" />
        ) AS ns
        <where>
            <include refid="filter" />
            <include refid="page" />
            AND ns.type = 2
        </where>
        ORDER BY ns.${page.order.field} ${page.orderDirection}, ns.id ASC
        LIMIT #{page.limit,jdbcType=INTEGER}
    </select>
    <insert id="create" parameterType="cn.notfound.gitone.server.entities.GroupEntity" keyProperty="id" useGeneratedKeys="true" >
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.insert" />
    </insert>
    <update id="update" parameterType="cn.notfound.gitone.server.entities.GroupEntity">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.update" />
    </update>
    <delete id="delete" parameterType="cn.notfound.gitone.server.entities.GroupEntity">
        DELETE FROM namespaces
        WHERE id = #{id,jdbcType=INTEGER} AND type = 2
    </delete>
</mapper>
