<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.notfound.gitone.server.mappers.GroupMapper">
    <resultMap id="groupMap" type="cn.notfound.gitone.server.entities.GroupEntity"
               extends="cn.notfound.gitone.server.mappers.NamespaceMapper.namespaceMap">
    </resultMap>
    <sql id="groupColumns">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.namespaceColumns" />
    </sql>
    <sql id="directWithUser">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.directWithUser" />
    </sql>
    <sql id="directWithViewer">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.directWithViewer" />
    </sql>
    <sql id="ancestors">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.ancestors" />
    </sql>
    <sql id="descendants">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.descendants" />
    </sql>
    <sql id="all">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.all" />
    </sql>
    <sql id="allWithUser">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.allWithUser" />
    </sql>
    <sql id="allWithViewer">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.allWithViewer" />
    </sql>
    <sql id="filter">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.filter" />
    </sql>
    <sql id="direction">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.direction" />
    </sql>
    <sql id="cursorOp">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.cursorOp" />
    </sql>
    <sql id="page">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.page" />
    </sql>
    <select id="find" parameterType="java.lang.Integer" resultMap="groupMap">
        SELECT <include refid="groupColumns" />
        FROM namespaces AS ns
        WHERE ns.id = #{id,jdbcType=INTEGER} AND ns.type = 2
    </select>
    <select id="findByIds" parameterType="java.util.Collection" resultMap="groupMap">
        SELECT <include refid="groupColumns" />
        FROM namespaces AS ns
        WHERE ns.id IN
        <foreach collection="ids" open="(" item="id" separator="," close=")">
            #{id,jdbcType=INTEGER}
        </foreach>
        AND ns.type = 2
    </select>
    <select id="findByFullPath" parameterType="java.lang.String" resultMap="groupMap">
        SELECT <include refid="groupColumns" />
        FROM namespaces AS ns
        WHERE ns.full_path = #{fullPath,jdbcType=VARCHAR} AND ns.type = 2
    </select>
    <select id="findByDescendants" resultMap="groupMap">
        SELECT <include refid="groupColumns" />
        FROM namespaces AS ns
        WHERE #{namespaceId,jdbcType=INTEGER} = ANY(ns.traversal_ids)
    </select>
    <select id="findAll" resultMap="groupMap">
        SELECT <include refid="groupColumns" />
        FROM (
            <include refid="allWithViewer" />
        ) AS ns
        <where>
            <include refid="filter" />
            <include refid="page" />
        </where>
        ORDER BY ns.${page.order.field} ${page.orderDirection}, ns.id ASC
        LIMIT #{page.limit,jdbcType=INTEGER}
    </select>
    <insert id="create" parameterType="cn.notfound.gitone.server.entities.GroupEntity" keyProperty="id" useGeneratedKeys="true" >
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.insert" />
    </insert>
    <update id="update" parameterType="cn.notfound.gitone.server.entities.GroupEntity">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.update" />
    </update>
    <delete id="delete" parameterType="cn.notfound.gitone.server.entities.GroupEntity">
        DELETE FROM namespaces
        WHERE id = #{id,jdbcType=INTEGER} AND type = 2
    </delete>
</mapper>
