<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.notfound.gitone.server.mappers.UserMapper">
    <resultMap id="userMap" type="cn.notfound.gitone.server.entities.UserEntity"
               extends="cn.notfound.gitone.server.mappers.NamespaceMapper.namespaceMap">
    </resultMap>
    <sql id="userColumns">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.namespaceColumns" />
    </sql>
    <sql id="filter">
        <if test="filter.query != null">
            AND ns.full_path LIKE #{filter.query,jdbcType=VARCHAR} || '%'
        </if>
    </sql>
    <sql id="direction">${page.direction(before)}</sql>
    <sql id="cursorOp">
        <choose>
            <when test="cursor.createdAt != null">
                AND (
                    ns.created_at = #{cursor.createdAt,jdbcType=TIMESTAMP_WITH_TIMEZONE} AND ns.id &gt; #{cursor.id,jdbcType=INTEGER}
                    OR ns.created_at <include refid="direction" /> #{cursor.createdAt,jdbcType=TIMESTAMP_WITH_TIMEZONE}
                )
            </when>
            <when test="cursor.updatedAt != null">
                AND (
                    ns.updated_at = #{cursor.updatedAt,jdbcType=TIMESTAMP_WITH_TIMEZONE} AND ns.id &gt; #{cursor.id,jdbcType=INTEGER}
                    OR ns.updated_at <include refid="direction" /> #{cursor.updatedAt,jdbcType=TIMESTAMP_WITH_TIMEZONE}
                )
            </when>
            <when test="cursor.username != null">
                AND (
                    ns.full_path = #{cursor.username,jdbcType=VARCHAR} AND ns.id &gt; #{cursor.id,jdbcType=INTEGER}
                    OR ns.full_path <include refid="direction" /> #{cursor.username,jdbcType=VARCHAR}
                )
            </when>
        </choose>
    </sql>
    <sql id="page">
        <if test="page.before != null">
            <bind name="before" value="true"/>
            <bind name="cursor" value="page.before"/>
            <include refid="cursorOp" />
        </if>
        <if test="page.after != null">
            <bind name="before" value="false"/>
            <bind name="cursor" value="page.after"/>
            <include refid="cursorOp" />
        </if>
    </sql>
    <sql id="byType">AND ns.type = 1</sql>
    <select id="find" parameterType="java.lang.Integer" resultMap="userMap">
        SELECT <include refid="userColumns" />
        FROM namespaces AS ns
        <where>
            ns.id = #{id,jdbcType=INTEGER}
            <include refid="byType" />
        </where>
    </select>
    <select id="findByIds" parameterType="java.util.Collection" resultMap="userMap">
        SELECT <include refid="userColumns" />
        FROM namespaces AS ns
        <where>
            ns.id IN
            <foreach collection="ids" open="(" item="id" separator="," close=")">
                #{id,jdbcType=INTEGER}
            </foreach>
            <include refid="byType" />
        </where>
    </select>
    <select id="findByUsername" parameterType="java.lang.String" resultMap="userMap">
        SELECT <include refid="userColumns" />
        FROM namespaces AS ns
        <where>
            ns.full_path = #{username,jdbcType=VARCHAR}
            <include refid="byType" />
        </where>
    </select>
    <select id="findAll" resultMap="userMap">
        SELECT <include refid="userColumns" />
        FROM namespaces AS ns
        <where>
            <include refid="filter" />
            <include refid="page" />
            <include refid="byType" />
        </where>
        ORDER BY ns.${page.order.field} ${page.orderDirection}, ns.id ASC
        LIMIT #{page.limit,jdbcType=INTEGER}
    </select>
    <insert id="create" parameterType="cn.notfound.gitone.server.entities.UserEntity" keyProperty="id" useGeneratedKeys="true" >
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.insert" />
    </insert>
    <update id="update" parameterType="cn.notfound.gitone.server.entities.UserEntity">
        <include refid="cn.notfound.gitone.server.mappers.NamespaceMapper.update" />
    </update>
    <delete id="delete" parameterType="cn.notfound.gitone.server.entities.UserEntity">
        DELETE FROM namespaces AS ns
        <where>
            id = #{id,jdbcType=INTEGER}
            <include refid="byType" />
        </where>
    </delete>
</mapper>
